body{
   /* background-image: url("images/cristal.jpg"); */
   	background-color: #888888;
	background-size: cover;
	background-repeat: no-repeat;
}
h1
{
	text-align: center;
	background-image: linear-gradient(to left, violet, indigo, blue, teal, yellow, orange, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h2
{
	text-align: center;
}
p
{
	font-family: cursive;
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	height: 10px;
}
#interpretation, #interpretation2, #interpretation3, #interpretation4, #interpretation5, #interpretation6, #interpretation7, #interpretation8,
#explication, #explication2, #explication3, #explication4, #explication5, #explication6, #explication7, #explication8, #explication9,
#sens, #sens2, #sens3, #sens4, #sens5, #sens6, #sens7, #sens8, #sens9,
#vision1, #vision2, #vision3, #vision4, #vision5, #vision6, #vision7, #vision8, #vision9,
#interp1, #interp2, #interp3, #interp4, #interp5, #interp6, #interp7, #interp8, #interp9,
#inter1, #inter2, #inter3, #inter4, #inter5, #inter6, #inter7, #inter8, #inter9,
#resul1, #resul2, #resul3, #resul4, #resul5, #resul6, #resul7, #resul8, #resul9,
#rep1, #rep2, #rep3, #rep4, #rep5, #rep6, #rep7, #rep8, #rep9
{
	border: 1px solid white;
	margin-bottom: 10px;
	background-color : #C0C0C0;
}
#resultat, #resultat2, #resultat3, #resultat4
{
	text-align: center;
}
h2, h1, h3, h4
{
	color : white;
}
a
{
	font-style: italic;
	color: white; 
}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
form
{
	text-align: center;
}